/*СБРОС ВСЕХ СТИЛЕЙ*/
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/*КОНЕЦ СБРОСА ВСЕХ СТИЛЕЙ*/


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #E0E0E0;
    line-height: 1.6;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
 box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

/*---------------header-------------*/

@media screen and (min-width: 770px) {
    .container {
        height: 80px;
    }

    .uphead_inner {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .search {
        display: none;
    }

    .div-nav {
        display: none;
    }

    .header_logo {
        justify-content: start;
    }
}
@media screen and (max-width: 770px) {
    .container {
        height: 120px;
        grid-template-rows: 3fr 1fr;
    }

    .uphead_inner {
        display: none;
    }

    .header_search {
        display: none;
    }

    .cart_info {
        display: none;
    }

    .header_logo {
        justify-content: center;
    }
}

.header {
    background: #FFFFFF;
    width: 100%;
}

/*Container*/
.container {
    display: grid;
    width: 100%;
}

.uphead_inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-bottom: solid 1px #e0e0e0;
}

.uphead_inner a {
    text-decoration: none;
    color: #000000;
}

.uphead_inner a:hover {
    color: #FF7737;
}

.uphead_inner p {
    margin-left: 5px;
    margin-right: 5px;
}

.header_inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Боковое меню */
.navbar {
    justify-self: start;
    align-self: center;
    margin: 10px;
}

/**
 * Переключаемая боковая панель навигации
 * выдвигающаяся по клику слева
*/

.nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 320px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #eeeeee;
    /* поверх других элементов */
    z-index: 2000;
}


/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 20px;
    /* отступ от верхнего края панели */
    top: 25px;
    /* внутренние отступы */
    padding: 0.3em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    /* цвет текста */
    color: #FF7737;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 1999;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}


/* определяем текст кнопки
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}


/* цвет текста при наведении */

.nav-toggle:hover {
    color: #FF7737;
}


/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='nav-toggle'] {
    position: absolute;
    display: none;
}


/**
 * изменение положения переключателя
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}


/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
    overflow-y: auto;
}





/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X),
 * вы можете испльзовать любой другой значок
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}


/**
 * профиксим баг в Android <= 4.1.2
 */

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    to {
        padding: 0;
    }
}


/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media screen and (min-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 320px) {
    html,
    body {
        margin: 0;
        overflow-x: hidden;
    }
    .nav {
        width: 100%;
        box-shadow: none;
    }
}


/**
 * Формируем стиль заголовка (логотип) панели
*/

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}


/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}


/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}





/**
 * оформление ссылок пунктов меню
 */

.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #000000;
    width: 100%;
    text-decoration: none;
}


/**
 * линия подчеркивания ссылок меню
 */

.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #adadad;
}


.header_logo {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.header_logo a {
    text-decoration: none;
    color: #FF7737;
    font-weight: 500;
    font-size: 1.2rem;
    padding: -2rem;
}

.intro_logo {
    justify-self: end;
    align-self: center;
    margin: 5px;
}

.intro_title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 18px;
    color: #FF7737;
    justify-self: start;
    align-self: center;
}

.cart-header {
    display: flex;
    cursor: pointer;
    background: none;
    border: 0;
    justify-self: end;
    align-items: center;
    margin: 10px;

    color: #FF7737;
}


.cart-header a img {
    width: 34px;
    height: 34px;
}

/*Поисковая строка*/
.search-block {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search {
    background: #FF7737;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #FF7737;
    /*border-radius: 5px;*/
    outline: none;
    background: #fcfcfc;
    color: #9E9C9C;
}
.search select {
    position: absolute;
    top: 0;
    right: 42px;
    width: 70px;
    height: 42px;
    border: 1px solid #FF7737;
    background: #ffffff;
    cursor: pointer;
}
.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: 1px solid #FF7737;
    /*border-radius: 0 5px 5px 0;*/
    cursor: pointer;
    background: #FF7737 url("icons/XMLID_223_.svg") no-repeat center;
}
.search button:before {
    /*content: "\f002";*/

    font-family: FontAwesome, serif;
    font-size: 16px;
    color: #F9F0DA;
}

/*Поисковая строка в header*/
.search-block {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.header_search {
    height: 30px;
    align-self: center;
}
.header_search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #FF7737;
    border-radius: 5px;
    outline: none;
    background: #fcfcfc;
    color: #9E9C9C;
}
.header_search select {
    position: absolute;
    top: 0;
    right: 42px;
    width: 75px;
    height: 42px;
    border: 2px solid #FF7737;
    background: #ffffff;
    cursor: pointer;
}
.header_search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: 1px solid #FF7737;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #FF7737 url("icons/XMLID_223_.svg") no-repeat center;
}
.header_search button:before {
    /*content: "\f002";*/

    font-family: FontAwesome, serif;
    font-size: 16px;
    color: #F9F0DA;
}

/*--------------end header-------------*/


/*---------------content---------------*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 1200px) {
    .content {
        align-items: inherit;
    }

}

@media screen and (min-width: 1200px) {
    .content {
        align-items: center;
    }
}

.category-title {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

    font-size: 20px;
}

.text-block {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;

    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 770px) {
    .text-block {
        padding: 20px;
    }

}

@media screen and (min-width: 770px) {
    .text-block {
        padding: 20px 100px 20px 100px;
    }
}

.item-container {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 390px) {
    .item {
        width: 218px;
        height: 303px;
    }
}

@media screen and (max-width: 390px) {
    .item {
        width: 165px;
        height: 260px;
    }
}

.item {
    background: #FFFFFF;
    border-radius: 20px;
    border: solid 1px #FFFFFF;

    margin: 5px;

    display: grid;
    /*grid-template-rows: 219px 27px 57px;*/
    grid-template-rows: 10fr 2fr 3fr;
    justify-content: center;

}

.item:hover {
    border: solid 1px #FF7737;
}

.item-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.item-image img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */

    object-fit: cover;
}
.item-image img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.item-image-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.item-title {
    font-family: Montserrat, serif;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.item-info {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-family: Montserrat, serif;
    font-size: 14px;

    padding-left: 5px;
}

.item-info-price-val {
    margin: 0 auto;
    font-size: 24px;
    color: #FF7737;
}

.item-info-sales-val {
    margin: 0 auto;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #FF7737;
    text-decoration: underline;
}
/*-------------end content--------------*/


/*----------------footer---------------*/
.footer {
  width: 100%;
  background: #000E23;
}

.footer-title {
    color: white;
}

.footer-list {
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.end-page {
    color: #ffffff;
}

.pay {
    width: 100%;
    max-width: 406px;
}

.footer li {
    color: #748194;
    list-style-type: none;
}

.footer ul {
    padding-left: 0;
}

.footer a {
    text-decoration: none;
    color: #748194;
}

.footer a:hover {
    color: #FF7737;
}
/*------------end footer-----------*/


/*-----------------СТРАНИЦА АВТОРИЗАЦИИ------------------*/
body {
    background: #F2F2F2;
}

.auth {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Montserrat', sans-serif;

}

.logo {
    display: flex;
    align-self: end;
    justify-content: center;
    gap: 10px;

}

.text-logo {
    display: grid;
    align-items: center;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    color: #FF7737;
}

@media screen and (max-width: 770px) {
    .text-logo {
        font-size: 20px;
        line-height: 27px;
    }
}

@media screen and (min-width: 770px) {
    .text-logo {
        font-size: 30px;
        line-height: 37px;
    }
}

.auth-field {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    align-self: start;
}

a { color: inherit; }


@media screen and (min-width: 770px) {
    .top {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 770px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.text-left {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
}

@media screen and (max-width: 770px) {
    .text-left {
        font-size: 18px;
        line-height: 23px;

        display: flex;
        justify-content: center;
    }

    .text-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        font-size: 12px;
        line-height: 16px;
    }

    .create_account {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (min-width: 770px) {
    .text-left {
        font-size: 25px;
        line-height: 30px;
    }

    .text-right {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;

        font-size: 14px;
        line-height: 22px;
    }

    .create_account {
        font-size: 14px;
        line-height: 22px;
    }
}

.text-right {


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;

    /* identical to box height */


    color: #B0B0B0;
    gap: 10px;
}

.create_account {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    /* identical to box height */


    color: #FF7737;
}

.auth-input {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 15px;



}
.auth-input input {
    height: 42px;
    padding-left: 10px;
    border: 0;
    outline: none;
    background: #F2F2F2;
    color: #9E9C9C;

    font-family: 'Montserrat', serif;
}

.auth-input button {
    border: 0;
}

@media screen and (max-width: 770px) {
    .auth-input {
        margin-top: 20px;
        width: 300px;
    }
}

@media screen and (min-width: 770px) {
    .auth-input {
        margin: 20px;
        width: -webkit-fill-available;
    }
}


.inp {
    background: #F2F2F2;
    border-radius: 15px;
    height: 35px;
    padding-left:10px;
}

.inp-btn {
    background: #FF9969;
    border-radius: 15px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    width: 100%;
    color: #FFFFFF;

    text-align: center;
}

@media screen and (max-width: 770px) {
    .inp-btn {
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (min-width: 770px) {
    .inp-btn {
        height: 56px;
        font-size: 18px;
        line-height: 22px;
    }
}



/*-------------------КОНЕЦ СТРАНИЦЫ АВТОРИЗАЦИИ----------*/

/*-------------------СТРАНИЦА РЕГИСТРАЦИИ-----------------*/
/*наследуется от авторизации*/
.privacy {
    font-size: 14px;
}

/*-------------------КОНЕЦ СТРАНИЦЫ РЕГИСТРАЦИИ----------*/

/*-------------------СТРАНИЦА ПОИСКА-----------------*/
/*наследуется от главной*/

/*Стили для пагинации*/

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    margin: 30px auto 50px auto;
}

.paggroup {
    display: flex;
    gap: 10px;
    align-items: stretch;
}

@media screen and (max-width: 770px) {
    .pagination {

    }
}

@media screen and (min-width: 770px) {
    .pagination {

    }
}


.pagbut {
    background: #F2F2F2;
    border: 1px solid #B0B0B0;
    border-radius: 5px;

    height: 40px;

    display: block;
    align-items: center;
    justify-content: center;
}

.pagbut a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 5px;

    height: 100%; /* Высота на весь слой */
    width: 100%;
}

.choicebox {
    height: 40px;
}

.choicebox input {
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    height: 38px;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.sumbox {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}



.pagbox {
    background: #FFFFFF;
    border: 0.5px solid #B0B0B0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: block;
}

.pagbox.active {
    background: #FF7737;
    border: 0.5px solid #FF7737;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: block;
}

.pagbox.active a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}


.pagbox a {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;


    /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
}

/* Сортировка */



.sorting {
    padding: 20px;
    width: 100%;
    margin: 0 auto;

}

@media screen and (max-width: 770px) {
    .sorting {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .sort {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 10px;
        min-height: 35px;
    }

    .sort select{
        width: 100%;
    }
}

@media screen and (min-width: 770px) {
    .sorting {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sort {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 10px;
    }

    .sort select{
        width: 260px;
    }
}

@media screen and (max-width: 770px) {
    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 770px) {
    .info {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}

.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px
}

.sort a {

    background: #F2F2F2;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    width: 110px;
    height: 100%;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000000;


    /* Выравнивание по центру */

}

.sort select {
    border: 1px solid #B0B0B0;
    border-radius: 5px;


    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    text-decoration: none;
    color: #000000;

    height: 100%; /* Высота на весь слой */
}

.total_results {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

@media screen and (max-width: 770px) {
    .total_results {
        font-size: 14px;
        line-height: 18px;
    }

    .current_page {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (min-width: 770px) {
    .total_results {
        font-size: 18px;
        line-height: 22px;
    }

    .current_page {
        font-size: 18px;
        line-height: 22px;
    }
}


.current_page {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


/*-------------------КОНЕЦ СТРАНИЦЫ РЕГИСТРАЦИИ----------*/

/*------------- КОРЗИНА----------*/


.cart-block {
    height: min-content;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 1200px) {
    .cart-block {
        width: 1169px;
        margin: 10px auto;
    }
    .table-cart-mobile {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .cart-block {
        margin: 20px;
    }

    .cart table {
        display: none;
    }
}

.body-cart-mobile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.img-cart-mobile img {
    width: 100%;
}

.values-cart-mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cart-top-menu {
    background: #ECECEC;
    border-radius: 20px;

    margin: 20px;
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: end;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;


    color: black;

    padding-right: 20px;
}

@media screen and (max-width: 1200px) {
    .cart-top-menu {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .cart-top-menu {
        font-size: 18px;
        line-height: 22px;
    }
}

.title {
    margin-left: 20px;
    display: grid;
    align-content: center;
    justify-content: start;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.cart {
    margin: 20px;
    display: grid;
    align-content: center;
    justify-content: start;
}

.cart-titles {
    width: 100%;

    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 310px 100px 100px 100px 100px 100px 100px;

    font-family: Montserrat;
    font-size: 16px;

    background: #FFE6DB;
    border-radius: 20px 20px 0px 0px;
    border-bottom: solid 1px #D9D9D9;
}

.cart-items {
    width: 100%;

    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100px auto 100px 100px 100px 100px 100px 100px;

    font-family: Montserrat;
    font-size: 16px;

    background: #ECECEC;
    border-bottom: solid 1px #D9D9D9;
}

.cart-items-column {
    word-break: break-all;
}

.cart-items-column img {
    width: 100%;
}

.cart-items-column input {
    width: 50px;
}

.cart-total {
    width: 100%;

    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: end;

    font-family: Montserrat;
    font-size: 16px;

    background: #FFE6DB;
    border-radius: 0px 0px 20px 20px;
}

.cart-total-sum {
    width: 100%;

    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: end;

    font-family: Montserrat;
    font-size: 16px;

    background: #FFE6DB;
    border-radius: 0px 0px 20px 20px;
}

.cart-buttons {
    display: flex;
    gap: 10px;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .cart-buttons {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .cart-buttons {
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
}

.buttons-shopping {
    background: #ECECEC;
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 0 5px;

    font-family: Montserrat, serif;
}

.buttons-checkout {
    background: #FF7737;
    border-radius: 20px;
    color: white;
    border: none;

    padding: 10px;
    margin: 10px 5px;

    font-family: Montserrat, serif;
}

@media screen and (max-width: 1200px) {

    .buttons-shopping {
        width: -webkit-fill-available;
    }
}

@media screen and (min-width: 1200px) {
    .buttons-checkout {

    }
}



/*-------------------КОНЕЦ КОРЗИНЫ----------*/

/*-------------------АККАУНТ----------*/
.message {
    margin-top: 130px;
}

.account {
    display: flex;
    flex-direction: column;
    height: min-content;
    background: white;
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
}

@media screen and (min-width: 1200px) {
    .account {
        align-items: center;
        width: 1100px;
    }
}

@media screen and (max-width: 1200px) {
    .account {
        justify-content: center;
        margin: 20px;
    }
}

.account-form {
    width: 100%;
    display: flex;
}


.account-title {
    margin: 0 auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */


    color: #000000;
}

@media screen and (max-width: 1200px) {
    .account-title {
        font-size: 30px;
        line-height: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .account-title {
        font-size: 45px;
        line-height: 55px;
    }
}

.account-text-after-title {
    margin: 10px auto 10px auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;


    color: #000000;
}

.flex-box-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box-row-space-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 1200px) {
    .flex-box-row {
        width: 996px;
        flex-direction: row;
    }
}


@media screen and (max-width: 1200px) {
    .flex-box-row {
        flex-direction: column;
    }
}

.col-2 {
    margin: 20px 0px 0px 0px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.col-2-flex {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30%;
}

@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {

}

.col {
    margin: 20px 0px 0px 0px;
    display: grid;
    align-items: start;
    gap: 20px;
}

.col-flex {
    margin: 20px 0px 0px 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.inp-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.inp-text-sm {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    color: #000000;
}

.input-short {
    background: #F2F2F2;
    border-radius: 15px;
    border: 0px;


    height: 35px;
    padding: 0px 5px 0px 5px;
}

.input-long {
    background: #F2F2F2;
    border-radius: 15px;
    border: 0px;

    height: 35px;
    padding: 0px 5px 0px 5px;
}

@media screen and (min-width: 1200px) {
    .input-long {
        width: 996px;
    }
    .input-short {
        width: 437px;
    }
}

@media screen and (max-width: 1200px) {
    .input-long {
        width: 100%;
    }

    .input-short {
        width: 100%;
    }
}

.input-submit {
    background: #FF7737;
    border-radius: 15px;
    border: 0px;
    height: 35px;
    padding: 0px 5px 0px 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {
    .input-submit {
        width: 996px;
    }
}



.auth-title {
    margin: 50px auto 20px auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: black;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

.input-mini {
    background: #F2F2F2;
    border-radius: 15px;
    border: 0px;


    height: 35px;
    padding: 0px 5px 0px 5px;
}

@media screen and (min-width: 1200px) {
    .input-mini {
        width: 282px;
    }
}

@media screen and (max-width: 1200px) {
    .input-mini {
        width: 100%;
    }
}

/* Блок Заказы */

.orders {
    margin: 20px;

    display: flex;
    flex-direction: column;

    margin-top: 10px;
    height: min-content;
    background: white;
    border-radius: 20px;

}

@media screen and (min-width: 1200px) {
    .orders {
        align-items: center;
        width: 1100px;
        padding: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .orders {
        justify-content: center;
        margin: 20px;
        padding: 20px;
    }
}

.orders-title {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    /* identical to box height */


    color: #000000;
}

.orders-text-after-title {
    margin: 10px auto 10px auto;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
}

.order-params {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.order-created-paid {
    margin: 5px 30px 5px 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;
}

/* Accordion заказов */
/* Пользовательские настройки */
.order-title {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.order-status {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

@media screen and (max-width: 500px) {
    .order-status {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .order-status {
        display: grid;
        justify-content: right;
    }
}

.status-yellow {
    background: #F9E958;
    margin-right: 50px;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}

.status-red {
    background: #FDAFAF;
    margin-right: 50px;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}

.status-green {
    background: #BEEEB9;
    margin-right: 50px;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}

.status-gray {
    background: #ECECEC;
    margin-right: 50px;
    border-radius: 25px;
    padding: 2px 10px 2px 10px;
}


.btn-success {
    width: 269px;
    height: 40px;
    background: #BEEEB9;
    border-radius: 20px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.btn-wait {
    width: 269px;
    height: 40px;
    background: #ECECEC;
    border-radius: 20px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.btn-fail {
    width: 269px;
    height: 40px;
    background: #FDAFAF;
    border-radius: 20px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.order-detail-title {
    margin-top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}

.order-detail-paid {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.order-delivery {
    margin-top: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */


    color: #000000;
}


/* Аккордион заказов */
/* Стандартные настройки */
.accordion-menu {
    display: inline-block;
    width: 100%;
    /*position: relative;*/
    left: 50%;
    /*margin: 20px auto;*/
    /*transform: translate(-50%, 0);*/
    /*width: 1000px;*/
    padding: 10px 20px 20px;
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.accordion-menu ul {
    list-style: none;
    perspective: 900;
    padding: 0 20px 10px;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(255, 255, 255, 0.19);
}
.accordion-menu ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}

.accordion-menu ul li:nth-child(1){ border:none; }
.accordion-menu ul li:nth-of-type(1) { animation-delay: 0.5s; }
.accordion-menu ul li:nth-of-type(2) { animation-delay: 0.75s; }
.accordion-menu ul li:nth-of-type(3) { animation-delay: 1.0s; }
.accordion-menu ul li:last-of-type { padding-bottom: 0; }

.accordion-menu ul li .arrow {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 6px;
    right: 0;
}
.accordion-menu ul li .fas{
    color:#f6483b;
    font-size: 15px;
    margin-right: 10px;
}
.accordion-menu ul li .arrow:before, ul li .arrow:after {
    content: "";
    position: absolute;
    background-color: #f6483b;
    width: 3px;
    height: 9px;
}
.accordion-menu ul li .arrow:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.accordion-menu ul li .arrow:after {
    transform: translate(2px, 0) rotate(-45deg);
}
input[type=checkbox] {
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.order-info {
    display: block;
}

.accordion-menu ul li input[type=checkbox]:checked ~ .order-info {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    display: none;
}
.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:before {
    transform: translate(2px, 0) rotate(45deg);
}
.accordion-menu ul li input[type=checkbox]:checked ~ .arrow:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
    transition: all 0.25s ease-in-out;
}

.flipIn, h1, .accordion-menu ul li {
    animation: flipdown 0.5s ease both;
}
.no-select, h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}
/*
@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% { opacity: 1; }

    80% { transform: rotateX(8deg); }

    83% { transform: rotateX(6deg); }

    92% { transform: rotateX(-3deg); }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
} */

/* Сброс стилей */
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Для этапа доставки */
:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.mob-stepper {
    margin: 5px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {
    .mob-stepper {
        display: none;
    }
}

.c-stepper {
    display: flex;
    padding: 0px;
}

.c-stepper__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.c-stepper__item:before {
    --size: 3rem;
    content: "";
    display: block;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: #cbcbcb;

    opacity: 0.5;
    margin: 0 auto 1rem;
}

.c-stepper__item.active:before {
    background-color: #2d9627;
}

.c-stepper__item:not(:last-child):after {
    content: "";
    position: relative;
    top: calc(var(--circle-size) / 2);
    width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
    left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
    height: 2px;
    background-color: #e0e0e0;
    order: -1;
}

.c-stepper__title {
    margin-bottom: 0.5rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;
}

.c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vw, 1rem);
    padding-left: var(--spacing);
    padding-right: var(--spacing);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
}

/*** Non-demo CSS ***/
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 770px) {
    .wrapper {
        display: none;
    }
}

@media screen and (min-width: 770px) {

}


*,
*:before,
*:after {
    box-sizing: border-box;
}


/* */

.text-to-support {
    display: grid;
    justify-content: center;
}

.btn-support {
    margin: 30px;
    padding: 15px;
    height: 40px;
    background: #ECECEC;
    border-radius: 20px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    color: #000000;
}

.cart {
    margin: 20px;
    display: grid;
    justify-content: start;
}

.cart-titles {
    width: 100%;

    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 200px 100px 100px 100px 100px;

    font-family: Montserrat;
    font-size: 16px;

    background: #FFE6DB;
    border-radius: 20px 20px 0px 0px;
    border-bottom: solid 1px #D9D9D9;
}

/*-------------------КОНЕЦ АККАУНТА----------*/


/*-------------------СТРАНИЦА ТОВАРА----------*/
section {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.index-block-b {
    margin-top: 130px;

    width: 1169px;
    height: min-content;

    background: white;
    border-radius: 20px;
}

.index-block {

    width: 1169px;
    height: min-content;

    background: white;
    border-radius: 20px;
}

.the-title {
    margin: 20px;
}

.item-block {
    height: min-content;
    background: white;
    border-radius: 20px;
    gap: 10px;
}

@media screen and (min-width: 1200px) {
    .item-block {
        width: 1169px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .item-block {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}



.item-block-full {
    width: 1169px;
    height: min-content;

    background: white;
    border-radius: 20px;

}

.item-block-full-end {
    margin-bottom: 30px;
    width: 1169px;
    height: min-content;

    background: white;
    border-radius: 20px;

}



.slider-aria {
    grid-column: span 4;
    padding: 20px;
    height: max-content;
}

.slider-big-image {
    width: 444px;
    border-radius: 20px;
}

.collection-images {
    display: flex;
    flex-wrap: wrap;
}

.slider-small-image {
    margin: 5px;
    width: 74px;
    height: 74px;

    border-radius: 20px;
}

.specifications {
    padding-top: 20px;
    grid-column: span 6;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    height: min-content;
}

@media screen and (max-width: 1200px) {
    .specifications {

    }
}

@media screen and (min-width: 1200px) {
    .specifications {
        padding-right: 20px;
    }
}

.item-title {

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;

    height: min-content;
}

.sub-title {
    height: min-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.translate-item {
    cursor:pointer;
    color: gray;

    display: grid;
    justify-content: end;
}

.translate-item:hover {
    color: gray;
}



.item-price {

    background: #FFE6DB;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "A A B B   B B B B   B B B B"
    "C C D D   D D D D   D D D D";
}

.item-price-2 {

    background: #FFE6DB;
    padding: 20px;
    width: 100%;
}

.item-price-name-price {
    grid-area: A;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    text-align: left;
}

.item-price-price {
    grid-area: B;
    font-family: Montserrat;
    font-weight: 500;

}

.item-price-name-quantity {
    grid-area: C;
    font-family: Montserrat;
    font-weight: 500;


    text-align: left;
}

@media screen and (max-width: 500px) {
    .item-price-price {
        font-size: 16px;
    }
    .item-price-quantity {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) {
    .item-price-price {
        font-size: 20px;
    }
    .item-price-quantity {
        font-size: 16px;
    }
}


.item-price-quantity {
    grid-area: D;
    font-family: Montserrat;
    font-weight: 500;
}

.table-price-price {
    width: 100%;
    text-align: center;
}

.table-price-quantity {
    width: 100%;
    text-align: center;
}

.admin {
    padding-left: 20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
}

.item-delivery {

    padding-left: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "S S S S  N N N N   N N N N"
    "A A A A  B B B B   B B B B"
    "C C C C   D D D D   D D D D"
    "I I I I   F F F F   F F F F"
    "H H H H   G G G G   G G G G"
    "Q Q Q Q   W W W W   W W W W"
    "E E E E   R R R R   R R R R";
}

.item-rating-name-total-sold {
    grid-area: E;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-rating-total-sold {
    grid-area: R;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-sellername-name {
    grid-area: S;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-sellername {
    grid-area: N;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-delivery-name-city {
    grid-area: A;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-delivery-city {
    grid-area: B;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-delivery-name-period {
    grid-area: C;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-delivery-period {
    grid-area: D;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}



.item-rating-name-seller-delivery {
    grid-area: I;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-rating-seller-delivery {
    grid-area: F;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    display: flex;
}

.item-rating-name-seller-item {
    grid-area: H;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-rating-seller-item {
    grid-area: G;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    display: flex;
}

.item-rating-name-seller-service {
    grid-area: Q;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-rating-seller-service {
    grid-area: W;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    display: flex;
}



.item-skus {
    border-top: 2px solid #D9D9D9;
    padding-top: 10px;
    padding-left: 20px;
    /*display: grid;*/
    /*gap: 60px;*/
    /*grid-template-areas:*/
    /*"A A B B   B B B B   B B B B";*/
}

.item-skus-name {
    /*grid-area: A;*/

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-skus-skus {
    /*grid-area: B;*/

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    flex-wrap: wrap;
}

.item-skus-variant {
    width: fit-content;
    height: max-content;
    margin: 5px;
    padding: 10px;
    background: #E9E9E9;
    border-radius: 10px;
    cursor:pointer;

    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
    align-content: center;
    justify-content: center;
    border: solid 2px #E9E9E9;
}

.item-skus-variant-image {
    width: 50px;
    height: 50px;

    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

.item-skus-variant-text {
    display: grid;
    align-content: center;
    width: fit-content;
}

.item-props {
    border-top: 2px solid #D9D9D9;
    padding-top: 10px;
    padding-left: 0px;
    /*display: grid;*/
    /*gap: 30px;*/
    /*grid-template-areas:*/
    /*"A A B B   B B B B   B B B B";*/
}

@media screen and (max-width: 750px) {
    .item-props {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .item-props {
        display: block;
    }
}


    .item-props-name {
    /*grid-area: A;*/
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}

.item-props-props {
    /*grid-area: B;*/
}

.none {
    display: none;
}

.item-props-variant-desc {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.item-props-mobile {
    padding: 20px;
}

@media screen and (max-width: 750px) {
    .item-props-mobile {
        display: block;
    }
}

@media screen and (min-width: 750px) {
    .item-props-mobile {
        display: none;
    }
}

.item-props-variant-text {
    padding: 10px;
}

.item-props-variant-title {
    width: 100%;

    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 210px 32px 75px 75px 75px 165px;

    font-family: Montserrat;
    font-size: 16px;

    border-bottom: solid 1px #D9D9D9;
}

.item-props-variant-title-column-name {
    font-family: Montserrat;
    font-size: 12px;
    color: #B0B0B0;
}

.item-props-variant {
    width: 100%;

    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 210px 32px 75px 75px 75px 165px;

    font-family: Montserrat;
    font-size: 14px;

    border-bottom: solid 1px #D9D9D9;
}

.item-props-variant-image {
}

.item-props-variant-name {
    margin: 10px;
}

.item-mobile-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item-props-variant-price {
}

.item-props-variant-balance {
    font-weight: 500;
    color: #C5C5C5;
}

.item-props-variant-input {

}

.item-props-variant-input-number {
    width: 60px;
    background: #F2F2F2;
    text-align: center;

    outline: 0;
    outline-offset: 0;

    border: solid 1px #B0B0B0;
    height: max-content;
    padding: 5px;
}

.item-props-variant-input-btn {
    background: #FF7737;
    border: 2px solid #FF7737;
    border-radius: 20px;
    color: white;
}

.item-props-variant-input-auth {
    padding: 5px;
    background: #FF7737;
    border: 2px solid #FF7737;
    border-radius: 20px;
    color: white;

    text-decoration: None;
}

.item-props-variant-input-auth:hover {
    padding: 5px;
    background: #FF7737;
    border: 2px solid #FF7737;
    border-radius: 20px;
    color: white;

    text-decoration: None;
}

.item-total-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 30px;

    background: #E5E5E5;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

    margin-bottom: 20px;

}

.item-total-price-left {
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto;
    gap: 20px
}

.item-total-price-right {
    display: grid;
    justify-content: right;
    grid-template-columns: auto auto;
    gap: 20px
}

.item-total-price-right-val {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;

    color: #FF7737;
}

.active {
    border: solid 2px #FF7737;
}

.description {
    padding: 20px;
    margin: 20px;

    height: min-content;

    background: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 1200px) {
    .description {
        width: 1169px;
    }
}

@media screen and (max-width: 1200px) {

}

.desc_t {
    grid-column: span 10;
}

.desc_t > div {
    grid-column: span 10;
    display: grid;
    justify-content: center;
}

.desc-title {
    grid-column: span 10;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;

    border-bottom: 3px solid #FF7737;

    padding-bottom: 10px;

    color: #000000;
}

.desc-atr {
    padding: 20px;
    grid-column: 10 span;

    display: grid;
    gap: 20px;
}

.desc-atr-title {
    padding-left: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    border-left: 3px solid #FF7737;
}

.desc-atr-body {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
}

.desc-atr-atr {
    grid-column: 5 span;
    word-break:break-all;
}

.desc-img {
    padding: 20px;
    grid-column: 10 span;

    display: grid;
    gap: 20px;
}

.desc-img-title {
    padding-left: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    border-left: 3px solid #FF7737;
}

.desc-img-body {
    padding-left: 20px;
    padding-right: 20px;

    justify-content: center;
}

.desc-img-img {
    width: 100%;
}

b {
    text-transform: uppercase ;
}



.rating-result {
    width: 265px;
    margin: 0 10px;
}
.rating-result span {
    padding: 0;
    font-size: 20px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.point {
    color: gold;
    text-shadow: 1px 1px #c60;
}

@media screen and (max-width: 1200px) {
    .desktop-slider {
        display: none;
    }
    .mob-slider {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .desktop-slider {
        display: block;
    }
    .mob-slider {
        display: none;
    }
}


/*-------------------КОНЕЦ ТОВАРА----------*/

