body {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
background-color: #E0E0E0;
line-height: 1.6;
width: 100%;
max-width: 100%;
overflow-x: hidden;
}

*,
*:before,
*:after {
 box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*Container*/
.container {
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 100%;
    height: 120px;
}

/*---------------header-------------*/
.header {
    background: #FFFFFF;
    width: 100%;
}
.header_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar {
    justify-self: start;
    align-self: center;
    margin: 10px;
}

.header_logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.intro_logo {
    justify-self: end;
    align-self: center;
}

.intro_title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 18px;
    color: #FF7737;
    justify-self: start;
    align-self: center;
}

.shop {
    cursor: pointer;
    background: none;
    border: 0;
    width: 34px;
    height: 34px;
    justify-self: end;
    align-self: center;
    margin: 10px;
}
/*Поисковая строка*/
.search-block {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search {
    background: #FF7737;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #FF7737;
    /*border-radius: 5px;*/
    outline: none;
    background: #fcfcfc;
    color: #9E9C9C;
}
.search select {
    position: absolute;
    top: 0;
    right: 42px;
    width: 70px;
    height: 42px;
    border: 1px solid #FF7737;
    background: #ffffff;
    cursor: pointer;
}
.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: 1px solid #FF7737;
    /*border-radius: 0 5px 5px 0;*/
    cursor: pointer;
    background: #FF7737 url("icons/XMLID_223_.svg") no-repeat center;
}
.search button:before {
    /*content: "\f002";*/

    font-family: FontAwesome, serif;
    font-size: 16px;
    color: #F9F0DA;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #FF7737;
    font-weight: 500;
    font-size: 1.2rem;
    padding: -2rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: -10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    padding: 4px;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    left: -10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;

    height: 2px;
    width: 24px;
    border-radius: 10px;
    background: #FF7737;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.menu-items {
    padding-top: 10px;
    background-color: #FFFFFF;

    height: 300px;
    width: 183px;
    transform: translate(-150%);
    display: block;
    flex-direction: column;
    margin-left: -22px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: left;
}

.menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}



/*Тут взаимодейтсвия с чекбоксом*/
.nav-container input[type="checkbox"]:checked .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}


/*--------------end header-------------*/


/*---------------content---------------*/

.category-title {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

    font-size: 20px;
}

.text-block {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 100px 20px 100px;
    text-align: center;
    font-size: 14px;
}

.item-container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 218px;
    height: 303px;
    background: #FFFFFF;
    border-radius: 20px;
    border: solid 1px #FFFFFF;

    margin: 5px;

    display: grid;
    grid-template-rows: 219px 27px 57px;
    justify-content: center;

}

@media screen and (max-width: 1024px) {

}

.item:hover {
    border: solid 1px #FF7737;
}

.item-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 218px;

    display: inline-block; /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
}

.item-image img {
    transition: 1s; /* Время эффекта */
    display: block; /* Убираем небольшой отступ снизу */
}
.item-image img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

.item-image-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.item-title {
    font-family: Montserrat;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
}

.item-info {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    font-family: Montserrat;
    font-size: 14px;

    padding-left: 5px;
}

.item-info-price-val {
    margin: 0 auto;
    font-size: 24px;
    color: #FF7737;
}

.item-info-sales-val {
    margin: 0 auto;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #FF7737;
    text-decoration: underline;
}
/*-------------end content--------------*/


/*----------------footer---------------*/
.footer {
  width: 100%;
  background: #000E23;
}

.footer-title {
    color: white;
}

.footer-list {
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.end-page {
    color: #ffffff;
}

.pay {
    width: 100%;
    max-width: 406px;
}

.footer li {
    color: #748194;
    list-style-type: none;
}

.footer ul {
    padding-left: 0;
}

.footer a {
    text-decoration: none;
    color: #748194;
}

.footer a:hover {
    color: #FF7737;
}
/*------------end footer-----------*/



