body {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
background-color: #E0E0E0;
line-height: 1.6;
width: 100%;
max-width: 100%;
overflow-x: hidden;
}

*,
*:before,
*:after {
 box-sizing: border-box; 
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}




/*footer*/
.footer {
position: absolute;
width: 428px;
height: 235px;
background: #000E23;
}

.company {
position: absolute;
width: 70px;
height: 16.54px;
top: 31px;
left: 53px;
font-weight: 600;
font-size: 10px;

color: #FFFFFF;
}

.comp_list {
position: absolute;
width: 130px;
height: 119.92px;
top: 55px;
left: 21px;
font-weight: 500;
font-size: 8px;

color: #A3A3A3;
}

.requisites {
position: absolute;
width: 70px;
height: 16.54px;
top: 31px;
right: 79px;
font-weight: 600;
font-size: 10px;

color: #FFFFFF;
}

.req_list {
position: absolute;
width: 126px;
height: 156.1px;
top: 55px;
right: 55px;
font-weight: 500;
font-size: 8px;

color: #A2A2A2;
}

.tg {
position: absolute;
width: 20px;
height: 20px;
bottom: 66px;
right: 190px;
}

.vk {
position: absolute;
width: 20px;
height: 20px;
bottom: 36px;
right: 190px;
}  

.pay {
position: absolute;
width: 146px;
height: 14.47px;
bottom: 20px;
left: 53px;  
}

.up_btn {
position: absolute;
cursor: pointer;
width: 37px;
height: 24.81px;
top: 3051px;
left: 185px;
border: 0;
color: #000E23;
background-color: rgba(224, 224, 224, 0);
}





/*Медиазапросы*/
 @media (min-width: 427px) and (max-width: 630px) {

.header {
  width: 630px
}

.header_logo{
  left: 220px;
}


.shop {
  left: 352px;
}

.navbar {
  position: relative;
  left: -88px;
}

.menu-items {
  margin-left: -75px
}


.nav-container {
  left: 0px;
}

/*Searchbox*/

.search_box input {

width: 630px;

}

.search_box button {

left: 565px;

}

.search_box img {

left: 594px;

}

.search_box select {

left: 482px;

}


.search_box_2 select {

left: 430px;
}

.found {
left: 18px;

}




.nike_name {
left: 100px;
}


.nike_img_1 {
left: 60px;
}

.nike_img_2 {
  left: 360px;
}

.nike_img_3 {
  left: 60px;
}

.nike_img_4 {
  left: 360px;
}

/*Adidas*/
.adik_name {
  left: 100px;
}


.adik_img_1 {
 left: 60px; 
}


.adik_img_2 {
 left: 360px; 
}

.adik_img_3 {
 left: 60px; 
}


.adik_img_4 {
 left: 360px; 
}



/*Watch*/

.watch_name {
left: 100px;
}

.watch_img_1 {
left: 60px; 
}

.watch_img_2 {
left: 360px; 
}

.watch_img_3 {
left: 60px; 
}

.watch_img_4 {
left: 360px; 
}


.partners {
  left: 102px;
}

.future {
  left: 102px;
}


/*Footer*/
.footer {
  width: 630px;
}

.up_btn {
  left: 290px;
}

.tg {
  right: 245px;
  bottom: 37px;
}

 }




 @media (min-width: 630px) and (max-width: 850px) {

.header {
  width: 850px
}

.header_logo{
  left: 340px;
}


.shop {
  left: 450px;
}


.menu-items {
  margin-left: -55px
}

.nav-container {
  left: -190px;
}

.nav-container .checkbox {
  height: 50px;
  width: 50px;
}






/*Searchbox*/

.search_box input {
height: 30px;
width: 850px;

}

.search_box button {
height: 29px;
width: 67.85px;
left: 781px;

}

.search_box img {
top: 72px;
left: 809px;

}

.search_box select {
height: 30px;
left: 699px;

}


.search_box_2 select {
width: 193px;
height: 40px;
left: 590px;
font-size: 14px;
}

.found {
width: 250px;
left: 55px;
font-size: 17px;

}

.nike_name {
  width: 829px;
}

.nike_img_3 {
  top: 206px;
  left: 427px;
}

.nike_img_4 {
  top: 206px;
  left: 637px;
}



.adik_name {
  width: 829px;
  top: 535px;
}

.adik_img_1 {
  top: 600px;
}

.adik_img_2 {
  top: 600px;
}

.adik_img_3 {
  left: 427px;
  top: 600px;
}

.adik_img_4 {
  left: 637px;
  top: 600px;
}



.watch_name {
  width: 829px;
  top: 920px;
}

.watch_img_1 {
  top: 980px;
}

.watch_img_2 {
  top: 980px;
}

.watch_img_3 {
  left: 427px;
  top: 980px;
}

.watch_img_4 {
  left: 637px;
  top: 980px;
}


.partners {
  width: 829px;
  top: 1315px;
}


.tmall {
  left: 520px;
}

.taobao {
  left: 375px;
}

.shop_1688 {
  left: 227px;
}


.future {
  width: 829px;
  top: 1415px;
}

.future_title {
  width: 300px;
  top: 25px;
  left: 270px;
  font-size: 20px;
}


.future_suptitle {
  width: 300px;
  left: 266px;
  top: 62px;
  font-size: 14px;
}



.search {
  top: 30px;
}

.decor {
  top: 710px;
}

.result {
  top: 690px;
}



/*Footer*/
.footer {
  top: 2165px;
  width: 850px;
  height: 242px;
}

.up_btn {
  top: 2146px;
  left: 397px;
}

.tg {
  right: 335px;
  bottom: 37px;
}

.vk {
  right: 280px;
}

.pay {
  left: 300px;
}

.company {
  top: 20px;
  left: 190px;
  font-size: 12px;
}

.comp_list {
  top: 35px;
  left: 160px;
  font-size: 10px;
}

.requisites {
  right: 185px;
  top: 20px;
  font-size: 12px;
}

.req_list {
    
    top: 35px;
    right: 160px;
    font-size: 10px;


}








 }