<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Восточный Экспресс</title>

</head>

<body>
<!-- /.header -->
<header class="header" id="header">
    <div class="uphead_inner">
        <p>Привет, <a href="#">KurushkinDA!</a></p>
        <p>|</p>
        <p><a href="#">Аккаунт</a></p>
        <p>|</p>
        <p><a href="#">Поддержка</a></p>
        <p>|</p>
        <p><a href="#">Выйти</a></p>
    </div>
    <div class="container">
        <div class="header_inner">
            <div class="div-nav">
                <input type="checkbox" class="navbar" id="nav-toggle" hidden>
                <label for="nav-toggle" class="nav-toggle" onclick></label>
                <nav class="nav">
                    <label for="nav-toggle" class="nav-toggle" onclick></label>


                    <ul>
                        <li><a href="#">Главная</a>
                        <li><a href="#">Корзина</a>
                        <li><a href="#">Аккаунт</a>
                        <li><a href="#">Поддержка</a>
                        <li><a href="#">Выйти</a>
                    </ul>
                </nav>
            </div>

            <div class="header_logo">
                <a href="#"><img class="intro_logo" src="img/truck_delivery_icon_217691 1.svg" alt=""></a>
                <a href="#"><h1 class="intro_title">Восточный Экспресс</h1></a>
            </div>

            <div class="header_search">
                <form class="search-block">
                    <input type="text" placeholder="Искать здесь...">
                    <select id="selectvalue_desktop">
                        <option>taobao</option>
                        <option>1688</option>
                    </select>
                    <button type="submit"></button>
                </form>
            </div>
            <div class="cart-header">
                <a href="#"><img src="icons/cart-svgrepo-com 1.svg" alt=""></a>
                <div class="cart_info">
                    <p class="cart_title">Корзина</p>
                    <p class="cart_total">0 ₽</p>
                </div>
            </div>

        </div>

        <div class="search">
            <form class="search-block">
                <input type="text" placeholder="Искать здесь...">
                <select id="selectvalue_mobile">
                    <option>taobao</option>
                    <option>1688</option>
                </select>
                <button type="submit"></button>
            </form>
        </div>

    </div>

</header>
<!--content-->
<div class="content">




<div class="block-f">
    <div class="title">Поддержка</div>
    <div class="desc">Напишите нам и мы поможем разобраться в проблеме </div>
    <form action="{% url 'shop:support' %}" method="post">
        {% csrf_token %}
        <div class="col-2">
            <div class="col">
                <div class="inp-text">Имя</div>
                {{form.first_name}}
            </div>
            <div class="col">
                <div class="inp-text">Email</div>
                {{form.email}}
            </div>
        </div>
        <div class="col">
            <div class="inp-text">Тема письма</div>
            {{form.title}}
            <div class="inp-text">Обращение</div>
            {{form.message}}
            <input class="input-submit" type="submit" value="Отправить">
        </div>

    </form>
    <div class="text-after-form">Вы получите ответ на почту, указанную в обращении</div>
</div>
<div class="block">
    <div class="title">Обращения</div>
    <div class="desc">Статус ваших обращений вы можете посмотреть тут</div>
    <div class="accordion-menu">
        <ul>
            {% if petitions %}
            {% for p in petitions %}
            <li>
                <input type="checkbox" checked>
                <i class="arrow"></i>
                <div class="order-title">
                    <h2>Обращение №{{p.id}}</h2>
                    <div class="order-status">
                        {% if p.status == 16 %}
                        <div class="status-yellow"><h2>Получено</h2></div>
                        {% endif %}
                        {% if p.status == 17 %}
                        <div class="status-gray"><h2>В работе</h2></div>
                        {% endif %}
                        {% if p.status == 18 %}
                        <div class="status-green"><h2>Ответ предоставлен</h2></div>
                        {% endif %}
                        {% if p.status == 14 %}
                        <div class="status-green"><h2>Решено и закрыто</h2></div>
                        {% endif %}
                        {% if p.status == 15 %}
                        <div class="status-green"><h2>Нерешено</h2></div>
                        {% endif %}
                    </div>
                </div>

                <div class="order-info">
                    <div class="order-created-paid">
                        <div class="order-created">Обращение создано: {{ p.created }}</div>
                        <div class="order-paid">Имя: {{ p.first_name }}</div>
                    </div>
                    <div class="order-created-paid">
                        <div class="order-created"></div>
                        <div class="order-paid">Контактный email: {{ p.email }}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="block-e">
    <div class="title">Контакты</div>
    <div class="desc">Вы можете связаться с нами</div>
    <div class="col-2">
        <div class="col">
            <a class="icon-text" href="tel:+79058300407"><img class="icon-img" src="{% static 'shop/images/icon-tel.png' %}" alt=""></a>
            <a class="icon-text" href="tel:+79058300407">+7-(905)-830-04-07</a>
        </div>
        <div class="col">
            <a class="icon-text" href="mailto:admin@vostok.express"><img class="icon-img" src="{% static 'shop/images/icon-email.png' %}" alt=""></a>
            <a class="icon-text" href="mailto:admin@vostok.express">admin@vostok.express</a>
        </div>
    </div>
</div>

    <!--footer-->
    <div class="footer">
        <div class="row">
            <div class="col">
                <p class="footer-title">КОМПАНИЯ</p>
                <ul class="footer-list">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Оферта</a></li>
                    <li><a href="#">Способы оплаты</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Возврат</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Описание бесплатной оплаты</a></li>
                </ul>
            </div>

            <div class="col">
                <p class="footer-title">РЕКВИЗИТЫ</p>
                <ul class="footer-list">
                    <li>Компания: ООО “ФЭСТ ИНЖИНИРИНГ”</li>
                    <li>ИНН: 3918015415</li>
                    <li>КПП: 391801001</li>
                    <li>Банк: ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ"</li>
                    <li>Р/счет: 40702810302500085345</li>
                    <li>Кор/счет: 30101810845250000999</li>
                </ul>
            </div>

            <div class="col">
                <img class="pay" src="icons/logo3h.png" alt="Оплата">
            </div>
        </div>

        <div class="row end-page">
            <div class="col">
                <p>2023 &copy; Восточный Экспресс</p>
            </div>
            <div class="col">
                <p>v1.0.0</p>
            </div>
        </div>
    </div>



</body>
</html>