body {
    background: #F2F2F2;
}

.auth {
    display: grid;
    justify-content: center;
    align-self: center;
    height: 100vh;

}

.logo {
    display: flex;
    align-self: end;
    justify-content: center;
    gap: 10px;

}

.text-logo {
    display: grid;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    color: #FF7737;
}

@media screen and (max-width: 770px) {
    .text-logo {
        font-size: 20px;
        line-height: 27px;
    }
}

@media screen and (min-width: 770px) {
    .text-logo {
        font-size: 30px;
        line-height: 37px;
    }
}

.auth-field {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;

    align-self: start;
}

a { color: inherit; }


@media screen and (min-width: 770px) {
    .top {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 770px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.text-left {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #000000;
}

@media screen and (max-width: 770px) {
    .text-left {
        font-size: 18px;
        line-height: 23px;

        display: flex;
        justify-content: center;
    }

    .text-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        font-size: 12px;
        line-height: 16px;
    }

    .create_account {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (min-width: 770px) {
    .text-left {
        font-size: 25px;
        line-height: 30px;
    }

    .text-right {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;

        font-size: 14px;
        line-height: 22px;
    }

    .create_account {
        font-size: 14px;
        line-height: 22px;
    }
}

.text-right {


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;

    /* identical to box height */


    color: #B0B0B0;
    gap: 10px;
}

.create_account {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */


    color: #FF7737;
}

.auth-input {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 15px;
}

@media screen and (max-width: 770px) {
    .auth-input {
        margin-top: 20px;
    }
}

@media screen and (min-width: 770px) {
    .auth-input {
        margin: 20px;
    }
}


.inp {
    background: #F2F2F2;
    border-radius: 15px;
    height: 35px;
    padding-left:10px;
}

.inp-btn {
    background: #FF9969;
    border-radius: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    width: 100%;
    color: #FFFFFF;

    text-align: center;
}

@media screen and (max-width: 770px) {
    .inp-btn {
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (min-width: 770px) {
    .inp-btn {
        height: 56px;
        font-size: 18px;
        line-height: 22px;
    }
}

input {
    all: unset;
}

button {
    all: unset;
}